[submodule "third_party/gello_software"]
	path = third_party/gello_software
	url = https://github.com/wuphilipp/gello_software.git
[submodule "third_party/xArm-Python-SDK"]
	path = third_party/xArm-Python-SDK
	url = https://github.com/xArm-Developer/xArm-Python-SDK.git
